@import '~office-ui-fabric-react/dist/sass/References.scss';

.customPanel {
 
  padding: 20px;
  .header{
    font-size: large;
  }
  .seperator{
    color:black
    
  }
  .item{
    padding:10px;
    .fieldLabel{
      font-weight: 300;
      font-size: medium;

    }
  }
  .error{
    color: #e81123;

  }
  .spinner{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding: 100px;
    
  }
}



